<h3>All Users</h3>


<table class="table table-dashed">
    <thead>
        <tr>
            <td>UserId</td>
            <td>FirstName</td>
            <td>Email</td>
            <td>Action</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.userId}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.email}}</td>
            <td>View | <a routerLink="/edituser2/{{user.userId}}"> Edit</a> | <button (click)="deleteUser(user.userId)">Delete</button>
            </td>

        </tr>

    </tbody>

</table>